<div class="container">
	<h1 class="text-center">Tutorial da aplicação</h1>
	<div class="row">
	<div class="col-md-offset-1">
		<iframe style="width:980px;height:600px" src="https://s3.amazonaws.com/online.anyflip.com/voao/dddu/index.html"  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe>
	</div>
	</div>
	<br>
		<a href="https://gese.florianopolis.ifsc.edu.br/consumidorlivre/aplac/app/docs/TUTORIAL_DE_USO_APLAC.pdf" target="_blank">	
			<div class="text-center">
				<button type="button" class="btn button-preto"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Tutorial</button>
			</div>
		</a>
</div>